@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-black: rgba(225, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}
. body {
  font-family: 'Roboto Condensed', sans-serif;
}

.header-area {
  background-color: #04373a !important;
}

nav a.nav-link {
  font-weight: lighter;
  font-size: 0.9rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
.navbar-brand {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.0375rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-black);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/* ------------------------HEADER------------------------ */
.header-wrapper {
  position: relative;
  background: url(computer_image.jpeg) no-repeat center center;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  font-weight: 100;
}
.typed-text {
  font-size: 2rem;
  font-weight: 100;
  color: var(--primary-white);
}

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.btn-main-offer:hover {
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
}

/* particle */

.tsparticles-canvas-el {
  position: absolute;
  height: 90vh !important;
  width: 100vw;
  z-index: 1;
  pointer-events: none !important;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}
